# upload_max_filesize = 50M
# post_max_size = 256M
# memory_limit = 256M
# max_execution_time = 300
# max_input_time = 300

## FOR APACHE ##
php_value upload_max_filesize 50M 
php_value post_max_size 128M 